In [1]:
x=0
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [4]:
x=10
while x>0:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [20]:
x=0
a=0
while x<=10:
  a=a+x
  x=x+1
print(a)

55

In [29]:
n=1
fact=1
while n<10:
  fact=fact*n
  n=n+1
print(fact)

362880

In [41]:
x=0
while x<10:
  x=x+1
  if x==5:
    break;
  print(x)

1
2
3
4

In [37]:
x=0
while x<10:
  x=x+1
  if x==5:
    continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [44]:
x=0
for x in range(100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [45]:
x=0
for x in range(101):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [48]:
x=0
a=0
for x in range(101):
  a=a+x
print(a)

5050

In [55]:
a=int(input("enter the number :"))
x=1
for a in range(1,a):
  x=x*a
print(x)

enter the number :10
362880

In [61]:
x=5
for x in range(10):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [63]:
x=5
for x in range(10):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9

In [64]:
x="angel anna"
for a in x:
  print(a)

a
n
g
e
l

a
n
n
a

In [70]:
x="angel anna varghese"
for a in x:
  if a==" ":
   break;
  print(a)

a
n
g
e
l

In [71]:
x="angel"
for a in x:
  if a=="l":
    continue;
  print(a)

a
n
g
e