In [1]:
x="This is \"Python\" programming"#to add comma in btwn sentence we se \""
print(x)

This is "Python" programming

In [2]:
x='He\'s a doctor' #to add single comma in btwn a sentence
print(x)

He's a doctor

In [4]:
print("\"Angel\"Anna Varghese")

"Angel"Anna Varghese

In [6]:
x='He\'s a doctor'
print(x)

He's a doctor

In [7]:
print("He \n doctor")

He
 doctor

In [8]:
print("Angel \n Anna Varghese")

Angel
 Anna Varghese

In [12]:
x=10
print(x.isalnum())

AttributeError: ignored

In [20]:
x=["John","Mary","David","Adam"]
y=(input("Enter the name:"))
z=int(input("Enter the location:"))
x[z]=y
print(x)#when we use this code the 2nd place is replaced with the new name

Enter the name:Rhode
Enter the location:2
['John', 'Mary', 'Rhode', 'Adam']

In [21]:
x=["John","Mary","David","Adam"]
y=(input("Enter the name:"))
z=int(input("Enter the location:"))
x.insert(z,y)#when we use insert the new name is added along with list

Enter the name:Rhode
Enter the location:1

In [23]:
print(x)

['John', 'Rhode', 'Mary', 'David', 'Adam']

In [24]:
 #calling functions
  def ridha():
    y=(input("Enter the name:"))
    z=int(input("Enter the location:"))
    x.insert(z,y)

In [27]:
ridha()
print(x)

Enter the name:Ridha
Enter the location:2
['John', 'Ridha BOt', 'Ridha', 'Rhode', 'Mary', 'David', 'Adam']

In [31]:
def Skipper():
  d=int(input("Enter a number:"))
  f=int(input("Enter second number:"))
  print(d+f)
  print(d-f)
  print(d*f)
  print(d/f)

In [32]:
Skipper()

Enter a number:52
Enter second number:23
75
29
1196
2.260869565217391

In [50]:
def math(a,b):
  print(a+b)

In [51]:
x=int(input("Enter the first number "))
y=int(input("Enter the second number "))
math(x,y)

Enter the first number 25
Enter the second number 25
50

In [55]:
def  addition(x,y):
  x=int(input("Enter a number "))
  y=int(input("Enter 2nd number "))
  print("add",x+y)

In [56]:
addition(x,y)

Enter a number 25
Enter 2nd number 25
add 50

In [58]:
def sub(x,y):
  x=int(input("Enter a number "))
  y=int(input("Enter 2nd number "))
  print("sub",x-y)

In [59]:
sub(x,y)

Enter a number 20
Enter 2nd number 50
sub -30

In [61]:
def div(x,y):
  x=int(input("Enter a number "))
  y=int(input("Enter 2nd number "))
  print("div",x/y)

In [62]:
div(x,y)

Enter a number 52
Enter 2nd number 953
div 0.05456453305351522

In [63]:
def multi(x,y):
  x=int(input("Enter a number "))
  y=int(input("Enter 2nd number "))
  print("mult",x*y)

In [64]:
multi(x,y)

Enter a number 8
Enter 2nd number 9
mult 72